@use "./variables";
@use "./base";

@use "./components/header";
@use "./components/hero";
@use "./components/about";
@use "./components/partners";
@use "./components/offers";
@use "./components/how";
@use "./components/visas";
@use "./components/contacts";
@use "./components/footer";
